<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LinkedIn Test Suite" parallel="classes" thread-count="3" verbose="2">

    <test name="Public Page Tests">
        <classes>
            <class name="tests.HomepageTest"/>
            <class name="tests.LoginPageTest"/>
        </classes>
    </test>

    <test name="Authentication Tests">
        <classes>
            <class name="tests.LoginAuthTest"/>
        </classes>
    </test>

    <test name="Search and Navigation Tests">
        <classes>
            <class name="tests.SearchTest"/>
            <class name="tests.NavigationTest"/>
            <class name="tests.JobsPageTest"/>
        </classes>
    </test>

    <test name="Profile and Social Tests">
        <classes>
            <class name="tests.ProfilePageTest"/>
            <class name="tests.MessagingTest"/>
            <class name="tests.NetworkTest"/>
        </classes>
    </test>

</suite>
